<section class="home-section" id="contracts-section" hidden>
    <div class="new-header">
        <div class="new-menu-slider" style="width: 210px">
            <div class="text menu-slider-item active unselectable"><b>Контракты</b></div>
        </div>
        <div style="color: #8A949B;margin-left: 90%; margin-top: -50px;">Баланс:</div>
        <div class="my-balance" style="color: rgb(165, 225, 45);margin-left: 90%; margin-top: -10px;">1000</div>
        <div class="header">

            <div class="container">
                <span class="text" id="contract_stats">Всего: 0/Выбрано: 0</span>
{#                <span>#}
{#                <select class="group-selector" id="profiles-group-selector" onchange="updateProfileTable();">#}
{#                                    <option value="{{i["id"]}}">{{i["name"]}}</option>#}
{#                </select>#}
{#                <input class="crete-group" type="image" src="../static/img/profiles/plus.png"#}
{#                       id="create-profile-group-button"#}
{#                       alt="Кнопка «Создать группу профилей»">#}
{#                    </span>#}
            </div>

            <div>
{#                <button class="grey-border-button" id="run-tasks-selected-button" style="width: 95px">#}
{#                    <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"#}
{#                         style="margin-right: 12px;">#}
{#                        <path d="M1 11V1L9 6L1 11Z" stroke="#1D9191" stroke-width="2" stroke-linejoin="round"></path>#}
{#                    </svg>#}
{#                    Run#}
{#                </button>#}
                <button class="grey-border-button" id="create-contract-button" style="margin-left: 20px">
                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"
                         style="margin-right: 8px; margin-top: 5px">
                        <path d="M5.5 1V5.5M5.5 10V5.5M5.5 5.5H1H10" stroke="#A5E12D" stroke-width="2"
                              stroke-linecap="round"
                              stroke-linejoin="round"></path>
                    </svg>
                    Создать
                </button>
                <button class="grey-border-button" id="delete-contract-selected-button" style="margin-left: 20px">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"
                         style="margin-right: 8px; position: relative;" transform="scale(1.2) translate(0 1)">
                        <path d="M4.018 4.00735L7.18932 7.19995M10.3606 10.3926L7.18932 7.19995M7.18932 7.19995L4.018 10.3926L10.3606 4.00735"
                              stroke="#CB2D3E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    Удалить
                </button>
            </div>
        </div>
    </div>

    <div class="fake-scroll-container">
        <table class="table">
            <thead>
            <tr>
                <th class="unselectable" style="width: 5%; padding-left: 2%">
                    <label class="my-checkbox">
                        <input type="checkbox" id="checkbox-all-contract" onclick="selectAllContract();">
                        <div class="check-container">
                            <svg class="" width="15" height="10" viewBox="0 0 15 10" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M13 2L5.4375 9L2 5.81818" stroke="#F1F1F1" stroke-width="2"
                                      stroke-linecap="square"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </div>
                    </label>
                </th>
                <th style="width: 8%; padding-left: 1.5%">#</th>
                <th style="width: 15%;">От кого</th>
                <th style="width: 14%;">Кому</th>
                <th style="width: 22%;">Дата окончания</th>
                <th style="width: 20%;">Цена</th>
                <th style="padding-left: 15px;">Действия</th>
            </tr>
            </thead>
        </table>
    </div>


    <div class="scroll-container">
        <table class="table">
            <thead>
            <tr>
                 <th style="width: 8%; padding-left: 1.5%"></th>
                <th style="width: 10%;"></th>
                <th style="width: 10%;"></th>
                <th style="width: 14%;"></th>
                <th style="width: 25%;"></th>
                <th style="padding-left: 15px;"></th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tbody-contract"></tbody>
        </table>
    </div>

    {#    <div class="blur-window create-task-window">#}
    {#        <div class="container top-container">#}
    {#            <div class="menu-slider">#}
    {#                <div class="menu-slider-item unselectable">#}
    {#                    Site list#}
    {#                </div>#}
    {#                <div class="menu-slider-item site-crete-task-slider unselectable">#}
    {#                    Create task#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class=border-b-line></div>#}
    {#        </div>#}
    {##}
    {#        <div class="crete-task-container" hidden>#}
    {#            <div class="middle-container-text">#}
    {#                Task name#}
    {#            </div>#}
    {#            <input style="width: 170px; margin-top: 32px;" placeholder="Task name" id="task-name-input">#}
    {#            <div class="border-b-line" style="width: 170px; top: 58px"></div>#}
    {##}
    {#            <div class="middle-container-text" style="margin-left: 195px">#}
    {#                Method#}
    {#            </div>#}
    {#            <section class="group-selector crete-task-selector method-selector" id="method-selector"></section>#}
    {##}
    {#            <div class="middle-container-text" style="margin-top: 16px">#}
    {#                Size#}
    {#            </div>#}
    {#            <input style="width: 170px; margin-top: 42px;" placeholder="Size" id="size-input">#}
    {#            <div class="border-b-line" style="width: 375px; top: 125px"></div>#}
    {##}
    {#            <div class="middle-container-text" style="margin-top: 90px">#}
    {#                Item#}
    {#            </div>#}
    {#            <input style="width: 170px; margin-top: 118px;" placeholder="PID" id="pid-input">#}
    {#            <input style="width: 170px; margin-top: 118px; margin-left: 200px" placeholder="Amount" id="amount-input">#}
    {#            <div class="border-b-line" style="width: 175px; top: 200px"></div>#}
    {#            <div class="border-b-line" style="width: 175px; top: 200px; left: 200px"></div>#}
    {##}
    {#            <div class="middle-container-text" style="margin-top: 160px">#}
    {#                Group#}
    {#            </div>#}
    {##}
    {#            <section class="group-selector crete-task-selector profile-selector">#}
    {#                <options>Name</options>#}
    {#            </section>#}
    {#            <section class="group-selector crete-task-selector proxy-selector"></section>#}
    {##}
    {#        </div>#}
    {#        <div class="methods-container" >#}
    {#            <div class="middle-container-text">#}
    {#                Methods#}
    {#            </div>#}
    {#            <select class="group-selector crete-task-selector profile-selector">#}
    {#                <options>Name</options>#}
    {#            </select>#}
    {#        </div>#}
    {#        <div style="position: relative; margin-top: 425px; margin-left: 40px">#}
    {#            <button class="button-active">Cancel</button>#}
    {#            <button class="red-button" style="margin-left: 180px">Save#}
    {#                <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg"#}
    {#                     style="margin-left: 10px">#}
    {#                    <path d="M1 1L5 6.21739L1 11" stroke="white" stroke-width="2" stroke-linecap="round"#}
    {#                          stroke-linejoin="round"></path>#}
    {#                </svg>#}
    {#            </button>#}
    {#        </div>#}
    {#    </div>#}
</section>
