<!DOCTYPE html>
<!-- Created by VENTUS-->
<html lang="ru" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>VentusAIO</title>
    <meta name="robots" content="index, nofollow">
    <meta name="keywords" content="VentusAIO, ventusaio, ventus, Ventus AIO, ventus aio">
    <meta name="author" content="VentusAIO">
    <meta name="description" content="---------VentusAIO---------">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/css/blockmenu.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/settings.css">
    <link rel="stylesheet" href="../static/css/accounts.css">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% include 'sidebar.html' %}
{% include 'myitems.html' %}
{% include 'monitors.html' %}
{% include 'wiki_cars.html' %}
{% include 'wiki_bumpers.html' %}
{% include 'wiki_wheels.html' %}
{% include 'settings.html' %}
<div id="windows-container"></div>
<div id="notification-box"></div>
<script src="../static/js/sidebar.js"></script>
<script src="../static/js/windows.js"></script>
<script src="../static/js/myitems.js"></script>
<script src="../static/js/wiki_cars.js"></script>
<script src="../static/js/wiki_bumpers.js"></script>
<script src="../static/js/wiki_wheels.js"></script>
<script src="../static/js/settings.js"></script>
</body>
</html>
