<section class="home-section" id="settings-section" hidden>

    <div class="new-header">
        <div class="new-menu-slider" style="width: 210px">
            <div class="text menu-slider-item active unselectable"><b>Настройки</b></div>
            <div class="text menu-slider-item unselectable" onclick="changeMainWindow('monitors');" hidden>
                <b>Monitors</b>
            </div>
        </div>
    </div>

    <div class="settings-container">
        <div class="blur-window">
            <div class="" style="margin-top: 30px; margin-left: 30px; color: #F1F1F1">Имя пользователя:
                <input type="text" id="UsernameSettingsInput" placeholder="Имя пользователя" value="">
            </div>
            <div class="" style="margin-top: 30px; margin-left: 30px; color: #F1F1F1">Имя:
                <input type="text" id="FirstNameSettingsInput" placeholder="Имя" value="">
            </div>
            <div class="" style="margin-top: 30px; margin-left: 30px; color: #F1F1F1">Фамилия:
                <input type="text" id="SecondNameSettingsInput" placeholder="Фамилия" value="">
            </div>
            <div class="" style="margin-top: 30px; margin-left: 30px; color: #F1F1F1">Email:
                <input type="text" id="EmailSettingsInput" placeholder="email@gmail.com" value="">
            </div>
            <div class="" style="margin-top: 30px; margin-left: 30px; color: #F1F1F1; width: 400px">Биография:
                <input type="text" id="BiographySettingsInput" placeholder="Любой текст" value="">
            </div>
            <div class="" style="margin-top: 30px; margin-left: 30px; color: #F1F1F1">Дата Регистрации:
                <input type="text" id="RDateSettingsInput" placeholder="11.12.2021" value="" disabled>
            </div>
            <div class="" style="margin-top: 30px; margin-left: 30px; color: #F1F1F1">Право на создание:
                <input type="checkbox" id="CreatorSettingsInput">
            </div>
            <button class="red-button" type="button" id="SaveSettingButton" style="margin-top: 60px; margin-left: 350px">Сохранить</button>
        </div>
    </div>
</section>
